@import "tailwindcss";

@theme {
  --color-brand: #0052FF;
}

:root {
  --foreground: #0f172a;
  --background: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: sans-serif;
}
